<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MainFolder" value="Path du dossier où les projets sont enregistrées" />
		<add key="port" value="6060" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" providerName="MySql.Data.MySqlClient" connectionString="datasource=localhost;database=NomDuBD;userid=NomUtilisateur;password=MotDePasse" />
	</connectionStrings>
    
  
</configuration>
