<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MainFolder" value="C:\Users\Abdellah\source\repos\PlateformWeb\PlateformWeb\wwwroot\ServerImages\" />
		<add key="port" value="6060" />
		<add key="ServerIP" value="127.0.0.1" />
	</appSettings>
	<connectionStrings>
		<add name="ConnectionString" providerName="MySql.Data.MySqlClient" connectionString="datasource=localhost;database=ensa;userid=root;password=" />
	</connectionStrings>
    
  
</configuration>