@{ 
      ViewData["Title"] = "Visualisation des Images";
}
    <div style="margin-top:100px; text-align: center;">
        <h1>Ce projet ne contient aucune document...</h1>
        <br />
        <br />
        <a asp-action="Index" asp-controller="Chef">List des projets</a>
    </div>